html *
{
    font-family: Raleway;

}


#pgm-lab {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-align: center;
        background-image: url("../img/header-bg.png");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    //background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //clear: left;

}




#pgm-lab h1{
    visibility: hidden;
 }

.header-title{

    width: 60vw;
   padding-left: 5%;
        min-width: 400px;






}

.header-title2{
    text-align: left;
    font-size: 800%;
    color: #A6A6A6;
   display:table;
        float: left;




}

.header-subtitle{
    display: block;

    font-size: 200%;
        color: #A6A6A6;

}




.header-title2{
    text-align: left;
    font-size: 800%;
    color: #A6A6A6;
   display:table;
        float: left;




}

/***/


#subheader {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    text-align: center;
        color: white;
/*    height: 600px  */

    /* The image used */
    background-image: url("../img/subheader.png");

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-top-style: solid;
    border-top-color: black;
        border-bottom-style: solid;
    border-bottom-color: black;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}


#subheader h1{
    visibility: hidden;
 }


.subheader-title{
    max-width: 500px;
    width: 80vw;
    text-align: left;
    font-size: 200%;
    color: white;
   display:table;
    margin: 0 auto;





}

/*********/

#research {
    background-color: #d4dee9;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 80px;
    padding-bottom: 50px;
    text-align: center;

}

/*
#research:before{
    display: inline-block;
    width: 100vw;
    height: 16px;
    content: "";
    background: url(../img/areas-border-top.png) no-repeat 0 0;
        background-color: #B9D3E2;


    background-size: 100% 100%;
}
*/



#research h1{
    text-align: left;
    margin-left:5%;
}


.content-block{
   /*width:  100vw ;*/



}

.research-block{
	width: 90%;
    max-width: 400px;
    padding-top: 0px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 40px;
	 display: inline-block;
	text-align: left;
}




.research-image{

  width: 50%;
  margin: 0 auto;
  display: table;


    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.research-text{
	width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	 display: inline-block;
    vertical-align: middle;


	text-align: left;
    margin-left: 0px;
}




/***************/

#education {
    background-color: #484F5F;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 80px;
    padding-bottom: 130px;
    color: white;
    text-align: center;

}

#education h1{
    text-align: left;
    padding-left: 5%;
}


.education-block{
    width: 90%;
	max-width: 550px;
    padding-top: 80px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10px;
	 display: inline-block;


}

.education-image{
	width: 30%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    	 display: inline-block;
vertical-align: middle;
	text-align: left;
    margin-left: 0px;
    margin-top: 0px;
}

.education-text{
	width: 60%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	 display: inline-block;
    vertical-align: middle;


	text-align: left;
    margin-left: 5%;
}



/***************/

#facts-and-figures {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    text-align: center;
        color: white;
/*    height: 600px  */

    /* The image used */
    background-image: url("../img/facts-bg.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  /*  -moz-box-shadow: 0 0 30px 5px #999;*/
/* -webkit-box-shadow: 0 0 30px 5px #999;*/

        border-top-style: solid;
    border-top-color: black;
        border-bottom-style: solid;
    border-bottom-color: black;

}

#facts-and-figures h1{
    text-align: left;
    padding-left: 5vw;
}


.facts-block{
	width: 100px;
    padding-top: 5vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    display: inline-block;
    margin: 60px;




}

.facts-num{
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    width: 100%;

}

.facts-text{
    text-align: center;
    font-size: 70%;
    font-weight: normal;
    width: 100%;


}


/**********/

#software {
    background-color: white;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    text-align: center;

}

#software h1{
    text-align: left;
    padding-left: 5%;
}


.software-block{
	width: 350px;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
	 display: inline-block;
	text-align: left
}




.software-image{

  width: 50%;
  margin: 0 auto;
  display: table;


    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.software-text{
	width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	 display: inline-block;
    vertical-align: middle;


	text-align: left;
    margin-left: 0px;
}




/***************/

#consulting {
    background-color: #484F5F;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 80px;
    padding-bottom: 130px;
    color: white;
    text-align: center;

}

#consulting h1{
    text-align: left;
    padding-left: 5%;
}


.consulting-block{
    width: 90%;
	max-width: 550px;
    padding-top: 80px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10px;
	 display: inline-block;


}

.consulting-image{
	width: 30%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    	 display: inline-block;
vertical-align: middle;
	text-align: left;
    margin-left: 0px;
    margin-top: 0px;
}

.consulting-text{
	width: 60%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	 display: inline-block;
    vertical-align: middle;


	text-align: left;
    margin-left: 5%;
}


/***************/




#success-stories {
    background-color: #9AB2CC;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    text-align: right;
    align-content: center;
}




#success-stories h1{
  text-align: left;
}



.success-block{
	width: 100%;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 40px;
    padding-bottom: 10px;
	 display: inline-block;


}

.success-image{
	width: 30%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  display: inline-block;

}

.success-image img{
  width: 50%;
  border: 3px solid #000;
}

.success-text{
	width: 60%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	 display: inline-block;
    vertical-align: middle;


	text-align: left;
    margin-left: 5%;
}




/**********/


#people {
    background-color: white
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    text-align: center;

}

#people h1{
  text-align: left;
  padding-left: 5%;
}

.success-people{
    width: 30%;

}
.people-block{
	width: 15%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
	display: inline-block;
	text-align: left;
}

.people-text{
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.name{
  font-weight: bold;
}


/**********/


#contact {
    background-color: rgb(76, 76, 76);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    text-align: left;
    color: white;

}

#contact h1{
  text-align: left;
  padding-left: 5%;
}




/*******/


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #dfd7ca
}

.figure{
    display: block;
    margin: 0 auto;
}



.generic-container {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
}

.injected {
    visibility: hidden;
    height: 0px;
    margin-top: -500px;
}

.headerlink {
    color: rgba(0, 0, 0, 0);
}

.headerlink:hover {
    color: rgba(0, 0, 0, 0);
}
