html *
{
    font-family: Raleway;

}

h1{
  font-weight: bold;
}

#pgm-lab {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-align: center;
    background-image: url("../img/header-bg.png");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    //background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //clear: left;

    /* Black border at the bottom */
    border-bottom: 1.2em solid gray;

}




#pgm-lab h1{
    visibility: hidden;
 }

.header-title{

   width: 60vw;
   padding-left: 5%;
   min-width: 400px;
}

.header-title2{
    text-align: left;
    font-size: 800%;
    color: #A6A6A6;
    display:table;
    float: left;
}

.header-subtitle{
    display: block;
    font-size: 200%;
    color: #A6A6A6;

}

.header-title2{
    text-align: left;
    font-size: 800%;
    color: #A6A6A6;
    display:table;
    float: left;
}

/***/

#subheader {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    /* The image used */
    background-image: url("../img/subheader.png");
    /* Set a specific height */
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-top-style: solid;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#subheader h1{
    visibility: hidden;
 }


/*********/

#research {
    /*background-color: #d4dee9;*/
    background-image: linear-gradient(to bottom, rgba(212,222,233,1), rgba(146,153,160,0.1));
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 80px;
    padding-bottom: 50px;
    text-align: center;

}

/*
#research:before{
    display: inline-block;
    width: 100vw;
    height: 16px;
    content: "";
    background: url(../img/areas-border-top.png) no-repeat 0 0;
        background-color: #B9D3E2;


    background-size: 100% 100%;
}
*/


#research h1{
    text-align: left;
    margin-left:5%;
}

#research .button{
  font-size: large;
  background-color: #9AB2CD;
  color: white;
  font-weight: bold;
}

.research-block{
/*	width: 90%;
    max-width: 400px; */
    padding-top: 0px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 40px;
	 /*display: inline-block;*/
	  text-align: left;
    margin-top: 2%;
}

.line-separator{
  height: 0.5em;
  border-bottom: 0.5em solid #000;
  margin-bottom: 2%;
}

.research-title{
  text-align:left;
  text-decoration: underline;
  font-size: 1.5em;
  font-weight: bold;
}


.research-image{

  /*width: 50%;
  margin: 0 auto;
  display: table;


    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;*/


  width: 10%;
  margin: 0 auto;
  display: inline-block;
  /* Round corner */
  border-radius: 1em;
  border: 0.3em solid #FFF;
  margin-top: 1%;
}

.research-text{
	/*width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	 display: inline-block;
    vertical-align: middle;


	text-align: left;
    margin-left: 0px;*/

    width: 80%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 3%;
}


/***************/

#publications {
    background-image: linear-gradient(to bottom, rgba(212,222,233,1), rgba(146,153,160,0.1));
    padding-top: 1%;
    padding-left: 2%;

}

/***************/

#projects {
    background-image: linear-gradient(to bottom, rgba(212,222,233,1), rgba(146,153,160,0.1));
    padding-top: 1%;
    padding-left: 2%;
}

/***************/

#education {
    background-color: #484F5F;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 80px;
    padding-bottom: 130px;
    color: white;
    text-align: center;

}

#education h1{
    text-align: left;
    padding-left: 5%;
}

#education .button{
  font-size: large;
  background-color: gray;
  color: white;
  font-weight: bold;
}


.education-block{
    width: 90%;
	  max-width: 550px;
    padding-top: 80px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10px;
	  display: inline-block;
}

.education-image{
	width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*  padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    	 display: inline-block;
vertical-align: middle;
	text-align: left;
    margin-left: 0px;
    margin-top: 0px;*/

}

.education-image img{
  border-radius: 0.3em 1.2em;
}

.education-text{
	  width: 60%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	  display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 5%;
}



/***************/

#facts-and-figures {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
/*    height: 600px  */

    /* The image used */
    background-image: url("../img/facts-bg.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  /*  -moz-box-shadow: 0 0 30px 5px #999;*/
/* -webkit-box-shadow: 0 0 30px 5px #999;*/

    border-top-style: solid;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;

}

#facts-and-figures h1{
    text-align: left;
    padding-left: 5vw;
}


.facts-block{
	  width: 100px;
    padding-top: 5vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    display: inline-block;
    margin: 60px;
}

.facts-num{
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    width: 100%;

}

.facts-text{
    text-align: center;
    font-size: 70%;
    font-weight: normal;
    width: 100%;


}


/**********/

#software {
    background-color: white;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    text-align: center;
}

#software h1{
    text-align: left;
    padding-left: 5%;
}


.software-block{
	  width: 350px;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
	  display: inline-block;
	  text-align: left
}

.software-image{
  width: 50%;
  margin: 0 auto;
  display: table;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
}

.software-text{
	  width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	  display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 0px;
}



/***************/

#consultancy {
    background-color: #484F5F;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 80px;
    padding-bottom: 130px;
    color: white;
    text-align: center;

}

#consultancy h1{
    text-align: left;
    padding-left: 5%;
}

#consultancy .button{
  font-size: large;
  background-color: gray;
  color: white;
  font-weight: bold;
}

.consultancy-block{
    width: 90%;
	  max-width: 550px;
    padding-top: 80px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10px;
	  display: inline-block;


}

.consultancy-image{
	  width: 30%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
	  text-align: left;
    margin-left: 0px;
    margin-top: 0px;
}

.consultancy-text{
	  width: 60%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
	  display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 5%;
}


/***************/




#success-stories {
    background-color: #484F5F;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    text-align: right;
    align-content: center;
    color: white;
}

#success-stories h1{
  text-align: left;
}

.success-block{
	width: 100%;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 40px;
  padding-bottom: 10px;
	display: inline-block;
}

.success-image{
	width: 30%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  display: inline-block;
}

.success-image img{
  width: 50%;
  border: 3px solid #000;
}

.success-text{
	width: 60%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
	display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: 5%;
}




/**********/


#people {
    background-color: white
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    text-align: center;

}

#people h1{
  text-align: left;
  padding-left: 5%;
}

.people-image{
  width: 50%;
  display: table;
  margin: 0 auto;
}

.people-block{
	width: 15%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
	display: inline-block;
	text-align: left;
}

.people-text{
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.name{
  font-weight: bold;
}

.people-mail{
  text-align: center;
}

.mail-icon{
  width: 20%;
  display: inline-block;
}

.mail-text{
  display: inline-block;
  vertical-align: middle;
}

.people-social{
  text-align: center;
}

.social-github{
  width: 20%;
  display: inline-block;
}

.social-linkedin{
  width: 20%;
  display: inline-block;
}

.social-scholar{
  width: 20%;
  display: inline-block;
}

.social-website{
  width: 20%;
  display: inline-block;
}

/**********/


#contact {
    background-color: rgb(76, 76, 76);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    text-align: left;
    color: white;

}

#contact h1{
  text-align: left;
  padding-left: 5%;
}

#contact p{
  margin-left: 5%;
  font-size: medium;
}

#contact img{
  margin-left: 5%;
}

#contact a{
  color: white;
}

.contact-block{
	width: 100%;
  padding-left: 0px;
  padding-right: 40px;
	display: inline-block;
}

.contact-image{
	width: 10%;
  padding: 0 0 0 0;
  margin-left: 2%;
  display: inline-block;
}

.contact-text{
	width: 30%;
  padding: 0 0 0 0;
	display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-weight: bold;
  font-size: large;
}

/* Google maps */
.mapouter{
  margin: 0 0 1% 5%;
}


/*******/


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #dfd7ca
}

.figure{
    display: block;
    margin: 0 auto;
}



/*.generic-container {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
}*/

.injected {
    visibility: hidden;
    height: 0px;
    margin-top: -500px;
}

.headerlink {
    color: rgba(0, 0, 0, 0);
}

.headerlink:hover {
    color: rgba(0, 0, 0, 0);
}
